/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@plugin "daisyui" {
  themes: light, dark;
}

@plugin "daisyui/theme" {
  name: 'light';
  --color-primary: oklch(0.75 0.13 199.93 / 1);
}

@plugin "daisyui/theme" {
  name: 'dark';
  default: true;
  --color-primary: oklch(0.75 0.13 199.93 / 1);
  --bc: red;
}

.input {
  @apply focus:border-primary hover:border-primary focus:outline-none focus:ring-2 focus:ring-primary w-full;
}

.card {
  @apply card-border border-base-300 shadow-sm bg-base-200;
}

.card-title {
  @apply text-4xl mb-[0.25rem] p-[1rem] border-b-2 border-base-300;
}

.card-body {
  @apply px-[1rem];
}

html,
body {
  height: 100%;
  width: 100%;
}

app-root {
  height: 100%;
  width: 100%;
}
