<a (click)="goBack()" class="block link no-underline hover:text-primary mb-[1rem]">
  <i class="bi bi-chevron-left me-1"></i>Back
</a>

<form [formGroup]="form" (submit)="submit()">
  <div class="card">
    <h1 class="card-title">
      {{ (form.get('name')?.valueChanges | async) || 'Cool Service Name' }}
    </h1>
    <div class="card-body flex flex-col gap-y-[1rem]">
      <div class="form-group">
        <label for="name" class="required"> Name </label>
        <input
          type="text"
          placeholder="Name"
          formControlName="name"
          id="name"
          required
          class="input w-full"
        />
      </div>
      <div class="form-group">
        <label class="required" for="email"> Email </label>
        <input
          class="input w-full"
          type="email"
          placeholder="Email"
          required
          formControlName="email"
          id="email"
        />
      </div>
      <div class="form-group">
        <label class="required" for="streetAddress"> Street Address</label>
        <input
          type="text"
          placeholder="Street Address"
          formControlName="streetAddress"
          id="streetAddress"
          required
          class="input w-full"
        />
      </div>
      <div class="form-group">
        <label class="required" for="city"> City</label>
        <input
          type="text"
          placeholder="City"
          formControlName="city"
          id="city"
          required
          class="input w-full"
        />
      </div>
      <div class="form-group">
        <label class="required" for="state"> State</label>
        <input
          type="text"
          placeholder="State"
          formControlName="state"
          id="state"
          required
          class="input w-full"
        />
      </div>
      <div class="form-group">
        <label class="required" for="zip"> Zip </label>
        <input type="text" placeholder="Zip" formControlName="zip" id="zip" class="input w-full" />
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input formControlName="phone" id="phone" class="input w-full" />
      </div>
      <div class="form-group">
        <label class="required" for="agency"> Agency </label>
        <select formControlName="agencyId" name="agency" id="agency" class="select w-full">
          <option disabled value="">Select an agency...</option>
          @for (agency of agencies(); track agency.id) {
          <option [value]="agency.id">{{ agency.name }}</option>
          } @empty {
          <option disabled value="">No agencies found</option>
          }
        </select>
      </div>
      <div class="form-group">
        <label class="required" for="serviceType">Type</label>
        <select
          formControlName="serviceTypeId"
          (change)="serviceTypeChanged()"
          name="serviceType"
          id="serviceType"
          required
          class="select w-full"
        >
          <option disabled value="">Select a service type...</option>
          @for (type of serviceTypes(); track type.id) {
          <option [value]="type.id">{{ type.label }}</option>
          } @empty {
          <option disabled value="">No service types found</option>
          }
        </select>
      </div>
      <div class="form-group">
        <label for="serviceSubType">Sub Type</label>
        <select
          formControlName="serviceSubTypeId"
          name="serviceSubType"
          id="serviceSubType"
          class="select w-full"
        >
          <option disabled value="">Select a service sub type...</option>
          @for (type of serviceSubTypes(); track type.id) {
          <option [value]="type.id">{{ type.label }}</option>
          } @empty {
          <option disabled value="">No sub types found</option>
          }
        </select>
      </div>
      <div class="form-group">
        <label class="required" for="populationType">Population Type</label>
        <select
          formControlName="populationTypeId"
          name="populationType"
          id="populationType"
          required
          class="select w-full"
        >
          <option disabled value="">Select a population type...</option>
          @for (type of populationTypes(); track type.id) {
          <option [value]="type.id">{{ type.label }}</option>
          } @empty {
          <option disabled value="">No population types found</option>
          }
        </select>
      </div>
      <div class="form-group">
        <label class="required" for="cost">Cost</label>
        <input
          type="text"
          placeholder="Cost"
          formControlName="cost"
          id="cost"
          required
          class="input w-full"
        />
      </div>
      <div class="form-group">
        <label class="required" for="requirements">Requirements</label>
        <input
          type="text"
          placeholder="Requirements"
          formControlName="requirements"
          id="requirements"
          required
          class="input w-full"
        />
      </div>
      <div class="form-group">
        <label for="website">Website</label>
        <input
          type="text"
          placeholder="Website"
          formControlName="website"
          id="website"
          class="input w-full"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          type="text"
          placeholder="Description"
          formControlName="description"
          id="description"
          class="textarea w-full"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="extraNotes">Extra Notes</label>
        <textarea
          type="text"
          placeholder="Extra Notes"
          formControlName="extraNotes"
          id="extraNotes"
          class="textarea w-full"
        ></textarea>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-outline btn-primary mt-[2rem] w-full">
    {{ isNewForm ? 'Create' : 'Save' }}
  </button>
</form>
