<shared-header [(sideNavExpanded)]="sideNavExpandState"></shared-header>

<div class="flex">
  <shared-side-navigation
    [(isExpanded)]="sideNavExpandState"
    [routes]="sideNavigationConfig"
  ></shared-side-navigation>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

@if (!loaded()){
<div
  class="glass h-full w-full fixed top-0 left-0 z-2 flex align-center content-center justify-center"
>
  <span class="loading loading-dots w-1/16 text-primary"></span>
</div>
}
